node-red-flow-test-event.json
[{"id":"be3a62da.5f0ba","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"2573f6b7.50e62a","type":"mqtt out","z":"be3a62da.5f0ba","name":"","topic":"","qos":"","retain":"","broker":"c0728668.dd7c38","x":810,"y":340,"wires":[]},{"id":"78eb333c.5b779c","type":"inject","z":"be3a62da.5f0ba","name":"Publish to services/azureiothubtest/test/machineData ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"services/azureiothubtest/test/machineData","payload":"{\"DeviceData\":{\"Temperature\":78.567,\"Position\":{\"X\":35.02,\"Y\":12.62,\"Z\":3.45},\"Status\":\"operational\"}}","payloadType":"json","x":340,"y":240,"wires":[["2573f6b7.50e62a","24a86c0.a291394"]]},{"id":"24a86c0.a291394","type":"debug","z":"be3a62da.5f0ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"12c1ac8e.c206b3","type":"inject","z":"be3a62da.5f0ba","name":"Publish to services/azureiotedgetest/test/machineData ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"services/azureiotedgetest/test/machineData","payload":"{\"DeviceData\":{\"Temperature\":78.567,\"Position\":{\"X\":35.02,\"Y\":12.62,\"Z\":3.45},\"Status\":\"operational\"}}","payloadType":"json","x":340,"y":460,"wires":[["24a86c0.a291394","2573f6b7.50e62a"]]},{"id":"c0728668.dd7c38","type":"mqtt-broker","z":"","name":"connectware broker","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]